input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 100px;
    height: 50px;
    background: red;
    display: block;
    border-radius: 50px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 45px;
    transition: 0.3s;
}

input:checked + label {
    background: #bada55;
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 65px;
}