body {
    background-color: #e5e5e5;

    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    display: flex;
    padding: 10px;
}

.first {
    display: flex;
}

.second {
    display: none;
}