* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.second  {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: #000;*/
}

.placeholder-w{
    padding: 30px 0 0 0;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 450px;
    border: 1px dashed red;
    border-radius: 25px;
}

.item-w{
    margin: 10px;
    border-radius: 15px;
    width: 80%;
    background-color: aliceblue;
    height: 60px;
}